/**/
body{
  background-attachment: fixed;
  width: 100%;
}
.container{

}
h1{
  text-align: center;
  color: white;
  background: rgba(77, 0, 157, 0.2);
  border-radius: 30px;

}
nav{
  background: black;
}
